# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/

# env files
.env
.env.*

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
.vscode/
.idea/
